@model AtlasAir.Models.Airport

@{
    ViewData["Title"] = "Adicionar Aeroporto";
}

<h1>Adicionar Aeroporto</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Street" class="control-label">Rua</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Neighborhood" class="control-label">Bairro</label>
                <input asp-for="Neighborhood" class="form-control" />
                <span asp-validation-for="Neighborhood" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="City" class="control-label">Cidade</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="State" class="control-label">Estado</label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Country" class="control-label">País</label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ZipCode" class="control-label">CEP</label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>

            <div class="mb-3 mt-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary ms-2">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}