@model AtlasAir.Models.Customer

@{
    ViewData["Title"] = "Adicionar Cliente";
}

<h1>Adicionar Cliente</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="control-label">Telefone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="IsSpecialCustomer" />
                <label class="form-check-label" asp-for="IsSpecialCustomer">Cliente Especial</label>
            </div>

            <div class="mb-3 mt-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary ms-2">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}